<% include ./partials/header %> 

<div class="row">
    <h1 style="text-align: center">Sign Up</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/register" method="post">
            <div class="form-group">
				<label for="username">Username</label>
                <input class="form-control" type="text" name="username" placeholder="Choose a username" required>
            </div>
            <div class="form-group">
				<label for="password">Password</label>
                <input class="form-control" type="password" name="password" placeholder="Choose a password" required>
            </div>
			<div class="form-group">
				<label for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" placeholder="First Name">
            </div>
			<div class="form-group">
				<label for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" placeholder="Last Name">
            </div>
			<div class="form-group">
				<label for="email">Email</label> <!--  add email validator later -->
                <input class="form-control" type="email" name="email" placeholder="my_email@gmail.com" required>
            </div>
			<div class="form-group">
				<label for="avatar">Avatar</label>
                <input class="form-control" type="url" name="avatar" id="avatar" placeholder="https://example.com" pattern="https://.*" size="30">
            </div>
			<div class="form-group">
				<label for="adminCode">Admin Request Code</label>
                <input class="form-control" type="text" name="adminCode" placeholder="adminCode">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<% include ./partials/footer %> 
